<!DOCTYPE html>
<html lang='ja'>

  <head>
    <meta charset='utf-8' />
    <%= include_gon %>
  </head>

  <body>
    <div id='calendar-container'>
      <div id='calendar'></div>
    </div>

    <!-- イベントがある日(modal-sample2)に関する記述 -->
    <div class="modal" id="modal-sample2" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">シフトの変更・削除</h4>
          </div>
          <!-- 5.モーダルのボディ -->
          <%= form_tag("/update") do %>
            <div class="modal-body">
              <input class="form-control" type="date" name="workday" id="today" required readonly>
              <input class="form-control" type="time" name="start_time" id="start" value="09:00" step="900" min="09:00" max="22:00" required>
              <input class="form-control" type="time" name="end_time" id="end" value="22:00" step="900" min="09:00" max="22:00" required>
            </div>
          <!-- 6.モーダルのフッタ -->
            <div id="modal-footer">
              <input type="submit" class="btn btn-primary" id="offer-data" value="時間の変更"></input>
            </div>
          <% end %>


          <%= form_tag("/destroy") do %>
            <input  type="hidden" class="form-control" type="date" name="workday" id="today2" required readonly>
            <input  type="hidden" class="form-control" type="time" name="start_time" id="start" step="900" min="09:00" max="22:00" required>
            <input  type="hidden" class="form-control" type="time" name="end_time" id="end" step="900" min="09:00" max="22:00" required>

            <div id="modal-footer2">
              <input  type="submit" class="btn btn-delete" id="offer-data" value="申請の削除"></input>
            </div>
          <% end %>

        </div>
      </div>
    </div>


    <!-- イベントが無い日(modal-sample3)に関する記述 -->
    <div class="modal" id="modal-sample3" tabindex="-1">
      <div class="modal-dialog">

        <!-- 3.モーダルのコンテンツ -->
        <div class="modal-content">
          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-label">シフトの申請</h4>
          </div>

          <!-- 5.モーダルのボディ -->
          <%= form_tag("/posts/offer") do %>
            <div class="modal-body">
              <input class="form-control" type="date" name="workday" id="today3" required readonly>
              <input class="form-control" type="time" name="start_time" id="start2" value="09:00" step="900" min="09:00" max="22:00" required>
              <input class="form-control" type="time" name="end_time" id="end2" value="22:00" step="900" min="09:00" max="22:00" required>
            </div>
          <!-- 6.モーダルのフッタ -->
            <div id="modal-footer3">
              <input type="submit" class="btn btn-primary" id="offer-data" value="申請"></input>
            </div>
          <% end %>

        </div>
      </div>
    </div>







  </body>
</html>
