<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <li>
        <%= post.user_id %>
        <%= post.workday %>
        <%= post.start.strftime('%H:%M') %>
        <%= post.end.strftime('%H:%M') %>
      </li>
    <% end %>
  </div>
</div>
